name: ci-golang-workflow

on: 
  pull_request:
    branches:
      - develop


jobs: 
  check-application:
    strategy:
      matrix:
        go: ['1.18', '1.19']
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version: ${{ matrix.go }}
      - run: go test
      - run: go run math.go

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v3
        with:
          push: false
          tags: brunoan99/fullcycle-ci:latest